.aboutus-container {
    text-align: center;
    padding: 20px;
  }
  
  .aboutus-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  